@import "../../public/style/variant.less";

.menu{
  width: 200px;
  float: left;
  border-right: 1px solid black;
  overflow: auto;
  background-color: #cccccc;
  ul{
    li:first-child{
      height: 50px;
      line-height: 50px;
      color: @font-color-lighter;
      padding-left: 15px;
    }
    li{
      height: 35px;
      border-bottom: 1px solid black;
      line-height: 35px;
      padding-left: 25px;
    }
  }
  .select{
    background-color: #f7f7f9;
  }
}
