@import "variant.less";

.head{
  width: 100%;
  height: 30px;
  background: @base-lighter;
  ul{
    li{
      color: @font-color-white;
      display: inline-block;
      line-height: 30px;
      margin-right: 10px;
    }
  }
  .headLeft{
    float: left;
    margin-left: 15px;
  }
  .headRight{
    float: right;
    margin-right: 15px;
  }
}