<div class="head">
    <ul class="headLeft">
        <li ui-sref="home">logo</li>
        <li>WLGF</li>
        <li>亿商</li>
        <li>营销策划</li>
    </ul>
    <ul class="headRight">
        <li ng-if="isLogin" ng-click="out()">x</li>
        <li ng-if="!isLogin">登录</li>
        <li ng-if="isLogin">{{USER.userName}}</li>
    </ul>
</div>
<div class="headTab">
    <span ui-sref="home">WLGF</span>
    <ul>
        <li ng-repeat="d in tabData" ng-class="{selected:index==$index}" ng-click="selectTab($index)">{{d.name}}</li>
    </ul>
</div>
